<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825250749124-6cu3emb4714hp4cca286ptm39m76juj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825250749124-6cu3emb4714hp4cca286ptm39m76juj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDn3a67V0b5dprJPc3zVmhefotNmvN6i7U</string>
	<key>GCM_SENDER_ID</key>
	<string>825250749124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.protoplasm.hea</string>
	<key>PROJECT_ID</key>
	<string>happily-ever-after-4b2fe</string>
	<key>STORAGE_BUCKET</key>
	<string>happily-ever-after-4b2fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825250749124:ios:0dc886d7f1f3d11c090791</string>
</dict>
</plist>